$header-bk: #363535; //header dark gray
$footer-bk: #ececec; //footer gray 

$primary-fcolor: #93918F; //gray
$sec-fcolor: #2bc0d5;
$third-fcolor: #94c93d;
$fourth-fcolor: #fff;
$fifth-fcolor: #e0320f;

$cattitle-fsize: 26px;
$subtitle-fsize: 18px;
$title-fsize: 24px;
$main-fsize: 16px;

$body-bk: #ececec;

$main-font: Century Gothic,CenturyGothic,AppleGothic,sans-serif;


$tablet: 768px;
$laptop: 1000px;
$desktop: 1200px;

